.App {
  //text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 164px;
  line-height: 150px;
}

h2 {
  font-weight: 400;
  font-size: 54px;
  line-height: 72px;
}

.Header {
  height: 80%;
  margin: auto;
  display: flex;
}

.left {
  margin: auto;
  width: 45%;
}

.right {
  margin: auto;
  width: 55%;
}

.typed-cursor {
  visibility: hidden;
}

.link {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: auto;
}
