.App {
  //text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 164px;
  line-height: 150px;
}

h2 {
  font-weight: 400;
  font-size: 66px;
  line-height: 72px;
}

.Header {
  height: 80%;
  width: 100%;
  display: flex;
}

.left {
  margin: auto;
  width: 50%;
}

.right {
  margin: auto;
  width: 50%;
}
